# Python Basics - Progamming Assignment 20

### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt','w') as f:
    f.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt','r') as f:
    test2 = f.read()
print(test2, type(test2))
print(test1, type(test1))
test1==test2

This is a test of the emergency text system <class 'str'>
This is a test of the emergency text system <class 'str'>

True

### 3. Create a CSV file called books.csv by using these lines:
1. title,author,year
2. The Weirdstone of Brisingamen,Alan Garner,1960
3. Perdido Street Station,China Miéville,2000
4. Thud!,Terry Pratchett,2005
5. The Spellman Files,Lisa Lutz,2007
6. Small Gods,Terry Pratchett,1992

In [3]:
a = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open('books.csv','w') as f:
    f.write(a)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

In [5]:
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("create table books (title text, author text, year int)")
db.commit()
db.close()

### 5. Read books.csv and insert its data into the book table.

In [6]:
with open('books.csv','r') as f:
    a = f.readlines()
    for i in a:
        print(i)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [7]:
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    for i in range(1,6):
        book = a[i].split(',')
        cursor.execute("insert into books values (?,?,?)",(book[0],book[1],book[2][:4]))
conn.commit()
conn.close()

### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("select title from books order by title asc")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [9]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("select * from books order by year asc")
for i,j,k in output:
    print(f"{i} - {j} - {k}")
conn.commit()
conn.close()

The Weirdstone of Brisingamen - Alan Garner - 1960
Small Gods - Terry Pratchett - 1992
Perdido Street Station - China Miéville - 2000
Thud! - Terry Pratchett - 2005
The Spellman Files - Lisa Lutz - 2007

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

In [11]:
del conn

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [12]:
# import redis
# conn = redis.Redis()
# conn.hset('test',{'count':1, 'name':'Fester Bestertester'})
# conn.hgetall('test')

unable to run redis server in my system

### 10. Increment the count field of test and print it.

In [13]:
# conn.hincrby('test', 'count', 1)
# conn.hget('test', 'count')

unable to run redis server in my system